<section>
 <div>
  <h1> welcome to Home</h1>
    <div>     
       <button ><%= link_to "LOGIN", new_user_session_path %></button>
       <button><%= link_to "SIGN UP", new_user_registration_path %></button>
    </div>
 </div>
</section>