<section class = "Home-section">
 <div class = "home-cont">
  <h1> Money Tracker App</h1>
    <div class="links-btns">     
       <button class = "home-button" ><%= link_to "LOGIN", new_user_session_path %></button>
       <button class = "home-button"><%= link_to "SIGN UP", new_user_registration_path %></button>
    </div>
 </div>
</section>
